<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-4">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vue 3 Experiment</title>
    <script src="https://cdn.jsdelivr.net/npm/vue@3.2.29/dist/vue.global.min.js"></script>
</head>
<body>
    <div id="app">
        <h1>Conditional Rendering</h1>

        <p v-if="showElement">This element is SHOWN using v-if</p>

        <p v-else>This element is SHOWN using v-else</p>
        <h1>FORM INPUT HANDLING</h1>
        <input type="text" v-model="inputText">
        <p>YOUR ENTRY: {{ inputText }}</p>
    </div>

    <script>
        const app = Vue.createApp({
            data() {
                return {
                    showElement: true,
                    inputText: ''
                };
            }
        });

        app.mount('#app');
    </script>
</body>
</html>
